<launch>
  

<!-- Load static transform for mocks -->
  <node pkg="tf" type="static_transform_publisher" name="stereo_link_to_map" 
          args="1.0 1.0 1.0 1.0 1.0 1.0 /head_2_link /map 40" />
  <rosparam file="$(find gpsr)/config/robocup_params.yaml"
      command="load" ns="robocup_params" />

    
  <node
    pkg="face_detection" type="face_recognition.py"
    name="face_detection_mock"/>
    
  <node
    pkg="object_mock" type="Object_Detect_mock.py"
    name="object_detection_mock"/>
    
  <!-- node
    pkg="person_detection" type="person_recognition.py"
    name="person_detection_mock"/ -->
      
  <!-- include file="$(find object_recognition_mock)/launch/object_recognition_mock.launch" / 	-->
  <!-- include file="$(find coord_translator)/launch/coord_translator.launch" / 		-->
  <!-- include file="$(find arm_navigation_mock)/launch/arm_navigation_mock.launch" / 		-->
  <!-- include file="$(find close_hand_mock)/launch/close_hand_mock.launch" / 			-->
  <!-- include file="$(find move_base_mock)/launch/move_base_mock.launch"/ 			-->

  <!-- GPSR understanding module -->
  <!-- include file="$(find gpsr)/launch/gpsrOrders.launch"/ -->

  <!-- gpsr it SMACH -->
  <!-- node pkg ="gpsrSoar" type="gpsrASAction.py" name="gpsrSoar" output="screen"/ -->


</launch>
