ROOT -> S 
S -> VP | VP S | VP CC S 
VP -> VB | VB V_COMP
V_COMP -> NP | SP | NP SP | SP NP | NP NP
NP -> DT NN | DT NN N_COMP | PRON | NN | DT NN NN
N_COMP -> POS | SP | INFRONTOFYOU
POS -> NN
SP -> PP NP

# PPositions
PP -> AT | TO | FROM | ON | ABOUT 

AT -> "at" 
TO -> "to" 
FROM -> "from" 
ON -> "on" 
ABOUT -> "about" 

INFRONTOFYOU -> "in" "front" "of" "you"

# Determinants
DT -> "a" | "an" | "the" | "some" | "in" "the"

# Pronouns
PRON -> "me" | "it" | "him" | "her" | "you" | "them" | "us" | "yourself" | "my"

# Conjuctions
CC -> "and" | "then"

# Adjectives


# Names
NN -> ITEM | LOCATION | PERSON | "something" | "apartment" | "name"

## Put here the list of available items and available item categories
ITEM -> "coke" | "coke" "zero" | "juice" | "energy" "drink" | "aquarius" | "fanta" | "pringles" | "beans" "can" | "cookies" | "medicine" | "mug" | "cup" | "drink" | "food" | "utils"

## Put here the list of available locations and available location catergoies
LOCATION -> "kitchen" "table" | "kitchen" "counter" | "kitchen" | "hallway" | "bookshelf" | "living" "room" | "armchair" | "pantry" | "dinner" "table" | "working" "desk" | "lift" | "entrance" | "exit" | "referee" | "table" | "seat" | "shelf" | "door"

## Put here the list of available names
PERSON ->  "andrew" | "charles" | "george" | "amanda" | "hannah" | "donald" | "frank" | "james" | "samuel" | "deborah" | "michelle" | "rebecca" | "taylor" | "paul" | "edward" | "referee" | "person"


# Verbs
VB -> "go" | "bring" | "exit" | "leave" | "VERB" | "find" | "follow" | "move" | "navigate" | "carry" | "get" | "take" | "grasp" | "tell" | "introduce" | "ask" | "memorize" | "recognize" | "detect" | "point" | "identify" | "give" | "retrieve" | "guide" | "put" | "learn"
