<launch>
    <!-- Launch map pois for the cocktail party test-->
        <rosparam file="$(find emergency_situation)/config/pois_emergency_situation.yaml" command="load" ns="mmap" />
	<rosparam file="$(find emergency_situation)/config/pendrive_location.yaml" command="load" ns="emergency_situation" />
	<include file="$(find manipulation_states)/launch/play_motion_params.launch"/>
</launch>
