
<launch>
	<!-- load the Parameters configuration file -->
	<!-- yaml files for navigation and object locations -->
	<include file="$(find emergency_situation)/launch/emergency_situation_params.launch"/>

	-->
	<node pkg="emergency_situation"
	      type="emergency_situation_main.py"
	      name="emergency_situation"
	      output="screen">
	</node>
	
</launch>
