<launch>
    <!-- Launch map pois for the robot inspection test-->
	<rosparam file="$(find robot_inspection)/config/pois_robot_inspection.yaml" command="load" ns="mmap" />

    <!-- State Machine -->
    <node 
    	pkg ="robot_inspection"
        type="check_dependences.py"
        name="check_dependences"
        output="screen">
     </node>
  
</launch>
