<launch>

	<!-- TODO: maybe we need to delete the params before loading them -->
	<include file="$(find robot_inspection)/launch/robot_inspection_params.launch" />
	
    <!-- State Machine -->
    <node 
    	pkg ="robot_inspection"
        type="robot_inspection.py"
        name="robot_inspection"
        output="screen">
     </node>

</launch>
