<launch>
    <!-- Launch map pois for the robot inspection test-->
	<rosparam file="$(find robot_inspection)/config/pois_robot_inspection.yaml" command="load" ns="mmap" />

    <!-- State Machine -->
    <node 
    	pkg ="robot_inspection"
        type="robot_inspection.py"
        name="robot_inspection"
        output="screen">
  	</node>
      
</launch>
