
<launch>
	<!-- load the Parameters configuration file -->
	<!-- yaml files for navigation and object locations -->
	<!-- fake action server nodes-->


	<node pkg="follow_me"
	      type="check_elevator.py"
	      name="CheckElevator_node">
	
	</node>
	<node pkg="navigation_states"
	      type="nav_back.py"
	      name="NavigationBack_node">
	
	</node>

</launch>
