
<launch>
	<!-- load the Parameters configuration file -->
	<!-- yaml files for navigation and object locations -->
	<!-- fake action server nodes-->
	
	<node pkg="stage_1_test"
	      type="follow_me_test.py"
	      name="Follow_me_Test_node">
  	     output="screen"> 
	</node>
	
		<node pkg="follow_me"
	      type="check_elevator.py"
	      name="CheckElevator_node">
	
	</node>
	<node pkg="navigation_states"
	      type="reverse_node.py"
	      name="NavigationBack_node">
	</node>
	
	<node pkg="person_detection"
	      type="follow_me_mock.py"
	      name="Follow_me_Service_node">
  	      
	</node>
	
	<node pkg="tts_mock"
	      type="tts_as.py"
	      name="tts_node">
	
	</node>
	<node pkg="asr_mock"
	      type="asr_srv.py"
	      name="asr_node">
	
	</node>
	
	
	
	
</launch>
