<launch>

    <!-- TODO: maybe we need to delete the params before loading them -->
    <include file="$(find cocktail_party)/launch/cocktail_party_params.launch" />

    <!-- State Machine -->
    <node 
    	pkg ="cocktail_party"
        type="check_dependences.py"
        name="check_dependences"
        output="screen">
     </node>

</launch>
