<launch>
    <!-- Launch map pois for the cocktail party test-->
	<rosparam file="$(find cocktail_party)/config/pois_cocktail_party.yaml" command="load" ns="mmap" />

    <!-- Launch the play motion actions -->
	<include file="$(find manipulation_states)/launch/play_motion_params.launch"/>
</launch>
