<launch>
  

<!-- 
  <include file="$(find object_recognition_mock)/launch/object_recognition_mock.launch" />
  <include file="$(find speech_recognition_mock)/launch/speech_recognition_mock.launch" />
  <include file="$(find tts_mock)/launch/tts_mock.launch" />
-->

  <!-- GPSR it SMACH -->
  <node pkg ="gpsr"
        type="UnderstandOrdersTest.py"
        name="UnderstandOrdersTest"
        output="screen">
  </node>

</launch>
