<launch>
  

<!-- Load static transform for mocks -->
  <node pkg="tf" type="static_transform_publisher" name="stereo_link_to_map" 
          args="1.0 1.0 1.0 1.0 1.0 1.0 /head_2_link /map 40" />
  <rosparam file="$(find common)/config/robocup_params.yaml"
      command="load" ns="robocup_params" />

  <!-- <rosparam file="$(find gpsrSoar)/config/simulation.yaml" command="load" ns="mock_config" /> -->

  <rosparam file="$(find cocktail_party)/config/cocktail_party.yaml"
      command="load" ns="cocktail_party" />

  <!-- <rosparam file="$(find cocktail_party)/config/simulation.yaml"
      command="load" ns="mock_config" /> -->


  <!-- fake action server nodes -->
  <include file="$(find tts_mock)/launch/tts_mock.launch" />
  <!--<include file="$(find door_detector_pal)/launch/door_detector_pal.launch" />-->
  <include file="$(find object_recognition_mock)/launch/object_recognition_mock.launch" />
  <!-- <include file="$(find speech_recognition_mock)/launch/speech_recognition_mock.launch" /> -->
  <include file="$(find coord_translator)/launch/coord_translator.launch" />
  <include file="$(find face_recognition_mock)/launch/face_recognition_mock.launch" />
  <include file="$(find person_detector_mock)/launch/person_detector_mock.launch" /> 
  <include file="$(find arm_navigation_mock)/launch/arm_navigation_mock.launch" />
  <include file="$(find close_hand_mock)/launch/close_hand_mock.launch" />
  <include file="$(find move_base_mock)/launch/move_base_mock.launch"/>


  <!-- gpsr it SMACH -->
  <node pkg ="gpsr"
        type="sm_gpsr_speech_test.py"
        name="gpsr_speech_test"
        output="screen"/>


</launch>
