<launch>
  
<!-- load the configuration file -->
  <rosparam file="$(find gpsr)/config/parsing.yaml"
      command="load" ns="parsing" />

<!-- load the sentences for test file -->
  <rosparam file="$(find gpsr)/config/cat1Sentences.yaml"
      command="load" ns="cat1Sentences" />
<!--
  <include file="$(find object_recognition_mock)/launch/object_recognition_mock.launch" />
  <include file="$(find speech_recognition_mock)/launch/speech_recognition_mock.launch" />
  <include file="$(find tts_mock)/launch/tts_mock.launch" />
-->

  <!-- GPSR it SMACH -->
  <node pkg ="gpsr"
        type="UnderstandOrdersTest.py"
        name="UnderstandOrdersTest"
        output="screen">
  </node>





</launch>
